{% extends "base.html" %}
<!--  -->
{% load static %}
<!--  -->
{% block title %}MenuItem{% endblock %}
<!--  -->
{% block content %}
<!--  -->
<div class="p-6 -mt-2">
  <h2 class="text-5xl text-gray-500">Menu Item</h2>
  <div>
    <div class="p-4">
      <a class="text-3xl" href="{% url 'index' %}">Home <span>|</span></a>
      <a class="px-5 text-3xl" href="{% url 'menu' %}">Menu</a>
      <div>
        <h2 class="border-l-8 border-red-800 mt-2 pl-2 text-3xl font-bold">{{ menu_item.name }}</h2>
        <p class="border-l-8 border-red-800 -mb-2 pl-2 text-3xl font-bold text-red-400">${{ menu_item.price }}.00</p>
      </div>
    </div>
  </div>

  <p class="p-4 -ml-1 sm:text-3xl md:text-2xl leading-20 mb-4 text-gray-500">{{ menu_item.description }}</p>

</div>

<div class="pl-8 -mt-6 mb-6">
  <img class="w-full max-w-md h-auto object-cover rounded-md" src="{% static 'pizza/' %}{{ menu_item.name }}.jpg" />
</div>
</div>
</div>
{% endblock %}