<footer class="bg-gray-500 p-6 text-red-100 mt-6">
    <div class='pl-2'>
        <b class="text-3xl leading-20 mb-4">CONTACT</b>
        <p class="border border-gray-400 mr-2"> </p>
        <p class="text-3xl leading-20">123456 Manila</p>
        <p class="text-3xl leading-20"> info@mshams.com</p>
        <p class="text-3xl leading-20"> +81 123456</p>
        <span class="text-3xl leading-20 mb-4">CREATED BY: <a href="" target=" _blank">ALFREDO TEOGALBO</a> &
            <a href="" target="_blank">SHAMS</a>
        </span>
    </div>
</footer>