<nav class="bg-gray-800 p-4">
    <div class="ml-2 mr-2 flex justify-between md:text-2xl">
        <div class="text-gray-300 sm:text-3xl md:text-2xl px-2 py-2 font-semibold"><a href="{% url 'index' %}">Shams</a>
        </div>
        <div class="text-gray-300 sm:text-3xl md:text-2xl text-gray-300 ml-3 px-3 py-2">
            <a href="{% url 'index' %}" class="hover:text-white ml-3 px-3 py-2">Home</a>
            <a href=" {% url 'about' %}" class="hover:text-white ml-3 px-3 py-2">About</a>
            <a href="{% url 'menu' %}" class="hover:text-white ml-3 px-3 py-2">Menu</a>
            <a href="{% url 'booking_form' %}" class="hover:text-white py-2">Booking</a>
        </div>
    </div>
</nav>