<nav class="bg-gray-800 p-4">
    <div class="ml-2 mr-2 flex justify-between">
        <div class="text-white text-lg font-semibold">Shams</div>
        <div>
            <a href="{% url 'index' %}"
                class="text-gray-300 hover:text-white text-sm font-medium px-3 py-2 rounded-md">Home</a>
            <a href="{% url 'about' %}" class="text-gray-300 hover:text-white text-sm font-medium px-3 py-2">About</a>
            <a href="{% url 'menu' %}" class="text-gray-300 hover:text-white text-sm font-medium px-3 py-2">Menu</a>
            <!-- <a href="{% url 'booking_form' %}"
        class="text-gray-300 hover:text-white text-sm font-medium px-3 py-2">Booking</a> -->
            <a href="{% url 'booking_form' %}"
                class="px-3 py-2 text-sm font-medium text-gray-300 hover:text-white rounded-md">Booking</a>
        </div>
    </div>
</nav>